.mainHeader{
    background-color: rgb(120, 14, 129);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.mainHeader h1{
    margin: 0;
    color:white;
    margin-left: 20px;
}